<h1>Tricks-N-Treats</h1>


<p>Welcome to Tricks-N-Treats, an app to planning your Halloween success. To begin, start by creating a user</p>
<footer>
<a href="/neighborhoods"><button type="button" class="btn btn-warning">Click Here To See All Neighborhoods</button></a>
<br>
<a href="/users/new"><button type="button" class="btn btn-warning">Create a User</button></a>


</footer>
