<h1>Tricks-N-Treats</h1>
<h2>Hello{{name}}!</h2>

<p>Welcome to Tricks-N-Treats, an app to planning your Halloween success. To begin, start by creating a user</p>
<footer>
   <h7><a href="/neighborhoods"><button type="button" class="btn btn-warning ">Click Here To See All Neighborhoods</button></a></h7>
    <br>
    <a href="/users/new"><button type="button" class="btn btn-warning fixed-bottom">Create a User</button></a>


</footer>