<h1>Tricks-N-Treats</h1>
<h2>Hello {{uu.name}}!</h2>

<p>Now that you told us who you are, click the button below to start the fun!
<footer>
    <a href="/neighborhoods"><button type="button" class="btn btn-warning">Click Here To See All Neighborhoods</button></a>
    <br>
    


</footer>