<h1>Tricks-N-Treats</h1>

<div id='edit-form' class="user container-show">
    <form action="/users" method="POST" class="auth-form">
        <div class="form-group">
            <label for="candy">What is Your Name?</label>
            <input type="text" name="name" class="form-control" id="name" placeholder="What is Your name">
        </div>
        <div class="form-group">
            <label for="streelight">How Old Are You?</label>
            <input type="text" name="age" class="form-control" id="age" placeholder="How Old Are You!">
        </div>
        <button type="submit" class="btn btn-warning">Sign Up!</button>
    </form>
</div>