<h1>Choose A Neighborhood!</h1>
{{#each neighborhoods}}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <a href="/neighborhoods/{{_id}}/houses" class="btn btn-warning">Let's Explore {{name}}!</a>
    </div>
</div>
{{/each}}

<a href="/neighborhoods/new" class="btn btn-warning">Create a New Neighborhood</a>

