<h1>Welcome To {{neighborhoods}}</h1>
{{#each neighborhoods}}
<div class="card" style="width: 18rem;">

    <div class="card-body">
        <h5 class="card-title">{{name}}</h5>

        <a href="/neighborhoods/{{_id}}" class="btn btn-primary">Go This House</a>
    </div>
</div>
{{/each}}