<div id='new-form' class="user container-show">
    <form action="/neighborhoods/" method="POST" class="auth-form">
        <div class="form-group">
            <label for="name">What is Your Neighborhood?</label>
            <input type="text" name="name" class="form-control" id="address" placeholder="Name of Neighborhood">
        </div>
        <button type="submit" class="btn btn-warning">Create this Neighborhood</button>
    </form>
</div>