<form action="/user?_method=PATCH" method="POST" class="auth-form">
  <input type="candy" name="candy" placeholder="Candy">
  <input type="streetlight" name="streetlight" placeholder="Streetlight">
  <input type="submit" value="Edit this House" class="btn">
</form>