<div class="card" style="width: 18rem;">
{{#each houss}}
    <div class="card-body">
        <h5 class="card-title">{{houses.address}}</h5>
        <p class="card-text">This house is priced at $ {{houses.streetlight}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>
{{/each}}